OPENROUTER_API_KEY=
PORT=4000
CLIENT_ORIGIN=http://localhost:5173
VITE_TTS_EN_VOICE_NAME=Microsoft Aria Online (Natural) - English (United States)
VITE_TTS_VI_VOICE_NAME=Microsoft HoaiMy Online (Natural) - Vietnamese (Vietnam)
VITE_TTS_RATE=0.95
VITE_TTS_PITCH=1
